.DS_Store
node_modules
npm-debug.log
bower_components
*.swp
.cache
.idea
*.psd
*.jpg
*.png
*.mp4
etc
src
.babelrc
.bowerrc
.browserslistrc
CHANGELOG.md
config.yml
gulpfile.babel.js
package-lock.json
package.json
yarn.lock